
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Bạn đã đặt hàng thành công. Hãy kiểm tra lại Gmail !
    <br>
    Xin cảm ơn !
</div>

